spring:
    datasource:
        username: root
        password: ${DB_PASSWORD}
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://localhost:3306/josthis?serverTimezone=Asia/Seoul

    jpa:
        hibernate:
            ddl-auto: none # !!!!!!!!!!!!
        database-platform: org.hibernate.dialect.MySQL8Dialect
        properties:
            hibernate:
                format_sql: true
                show_sql: true

    batch:
        job:
            enabled: false

logging:
    level:
        sql: